<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<link href="/css/lgm-contact-us.css" rel="stylesheet" type="text/css"/>

<div id="lgm-custom-contact-form">
    <div id="lgm-custom-option-title"></div>
    <div id="lgm-custom-choices"></div>
    <div id="lgm-custom-contact-form-inputs"></div>
    <div id="lgm-nav-btns"></div>
</div>

<script>
(function() {
    var newGateFields = ['Name', 'Email', 'Aprox. Capacity', 'Vehicle Type', 'Distance Ground to Deck Height', '102 or 96 Wide vehicle?'],
        steps = {
        'title': 'How can we help?',
        'options': {
            'liftgate': {
                'name': 'LiftGate',
                'title': 'What are you looking for?',
                'options': {
                    'replacment': {
                        'name': 'Replacment of Current Gate',
                        'title': 'Great! Please provide the info below and we\'ll get right back to you',
                        'formFields': ['Name', 'Email', 'Manufacturer', 'Serial Number', 'Model']
                    },
                    'newStyle': {
                        'name': 'Choose a new gate',
                        'title': 'What type of gate are you interested in?',
                        'options': {
                            'tuckUnder': {
                                'name': 'Tuck-Under',
                                'title': 'Great! Please provide the info below and we\'ll get right back to you',
                                'formFields': newGateFields
                            },
                            'pickupLift': {
                                'name': 'Pickup-Lift',
                                'title': 'Great! Please provide the info below and we\'ll get right back to you',
                                'formFields': newGateFields
                            },
                            'columnLift': {
                                'name': 'Column Lift',
                                'title': 'Great! Please provide the info below and we\'ll get right back to you',
                                'formFields': newGateFields
                            },
                            'cantileverLift': {
                                'name': 'Cantilever Lift',
                                'title': 'Great! Please provide the info below and we\'ll get right back to you',
                                'formFields': newGateFields
                            },
                            'manufactuerModel': {
                                'name': 'Manufacturer\'s model number',
                                'title': 'Great! Please provide the info below and we\'ll get right back to you',
                                'formFields': newGateFields
                            }
                        }
                    }
                }
            },
            'parts': {
                'name': 'Parts',
                'title': 'Great! If you have a part number, enter it below or include the liftgate\'s serial number and a description.',
                'formFields': ['Email', 'Name', 'Part Number', 'Serial Number', 'Description']
            },
            'general': {
                'name': 'General Inquiry',
                'title': 'Thanks for dropping by.  Leave us a note blow.',
                'formFields': ['Name', 'Email', 'Message']
            }
        }
    },

    currentPath = null,
    currentPlace = ['steps'],
    formTrgtEl = document.getElementById('lgm-custom-contact-form'),
    formTrgtInputEl = document.getElementById('lgm-custom-contact-form-inputs'),
    formTrgtOptionEl = document.getElementById('lgm-custom-choices'),
    formTrgtTitleEl = document.getElementById('lgm-custom-option-title'),
    formTrgtNavEl = document.getElementById('lgm-nav-btns'),

    showNext = function(path, key) {
        var currentObj = eval(currentPlace.join('.'));

        if (currentObj.options) {
            formTrgtOptionEl.innerHTML = '';
            createTitle(currentObj.title);
            for (var option in currentObj.options) {
                createOption(currentObj.options[option]['name'] || '', option, currentPath);
            }
        } else if (currentObj.formFields) {
            if (currentObj.title) {
                createTitle(currentObj.title);
                createForm(currentObj.formFields, 'lgm-custom-contact-form-inputs');
            }
        }
    },

    createForm = function(formFields, target) {
        var trg = document.getElementById(target),
            fieldsCreated = 0,
            formFieldLength = formFields.length * 25;
            sizeContainer = function() {
                formTrgtInputEl.style.height = formFieldLength + 'px';
            };

        formTrgtOptionEl.innerHTML = '';
        trg.innerHTML = '';
        trg.className += ' active';

        function addInputField(name) {
            var inputField = document.createElement('input'),
                holder = document.createElement('div'),
                nameDiv = document.createElement('div'),
                inputDiv = document.createElement('div');

            holder.className = 'form-field-holder';
            trg.appendChild(holder);
            nameDiv.className = 'form-field-name';
            nameDiv.innerHTML = name;
            holder.appendChild(nameDiv);

            inputDiv.className = 'form-field-input';
            holder.appendChild(inputDiv);

            inputField.placeholder = name;
            inputField.setAttribute('data-name', name);
            inputField.className = 'lgm-input-field';
            inputDiv.appendChild(inputField);
        };

        formFields.forEach(function(fieldName, ind, arry) {
            addInputField(fieldName);
            fieldsCreated++;
            
            if (fieldsCreated === arry.length) {
                sizeContainer();
            }
        })

        formTrgtEl.style.height = formTrgtInputEl.offsetHeight + formTrgtTitleEl.offsetHeight + formTrgtNavEl.offsetHeight;
    },

    createTitle = function(titleTxt) {
        var el = document.createElement('div');

        el.className = 'title';
        formTrgtTitleEl.innerHTML = '';
        el.innerHTML =  titleTxt;
        formTrgtTitleEl.appendChild(el);
    },

    createOption = function(txt, key, path) {
        var el = document.createElement('div'),
            onClickOption = function() {
                currentPlace.push('options', this.getAttribute('data-option-key'));
                showNext(this.getAttribute('data-path'), this.getAttribute('data-option-key'));
            };

        el.className = 'option-btn';
        el.innerHTML = txt;
        el.setAttribute('data-path', path);
        el.setAttribute('data-option-key', key);
        el.addEventListener('click', onClickOption, false);

        formTrgtOptionEl.appendChild(el);
    },

    createButtons = function() {
        var reset = document.createElement('div'),
            submit = document.createElement('div'),
            resetForm = function() {
                currentPlace = ['steps'];
                formTrgtNavEl.innerHTML = '';
                formTrgtInputEl.innerHTML = '';
                formTrgtInputEl.className = '';

                init();
            },
            submitFrom = function() {
                var inputs = document.querySelectorAll('#lgm-custom-contact-form-inputs input'),
                    content = {};

                var name,
                    val,
                    formData;

                for(var input in inputs) {
                    if (inputs[input].value) {
                        name = inputs[input].getAttribute('data-name');
                        val = inputs[input].value;

                        content[name] = val;
                    }
                }

                content['currentPlace', currentPlace.join('.')];
                content['toEmail'] = 'liftgates@gmail.com';

                formData = {
                    "toEmail": "liftgates@gmail.com",
                    "fromEmail":"liftgates@gmail.com",
                    "contactEmail": content.Email || 'From LGM',
                    "senderMsg": JSON.stringify(content)
                };

                $.ajax({
                    url : "//shielded-wave-41905.herokuapp.com/send-msg",
                    type: "POST",
                    data : formData,
                    success: function(data, textStatus, jqXHR) {
                      console.log('success : ', data);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                         console.log('error : ', error || 'ERROR!');
                    }
                });      
            };

        reset.innerHTML = 'Reset';
        reset.className = 'btn secondary-btn';
        reset.addEventListener('click', resetForm, false);
        formTrgtNavEl.appendChild(reset);

        submit.innerHTML = 'Submit';
        submit.className = 'btn primary-btn';
        submit.addEventListener('click', submitFrom, false);
        formTrgtNavEl.appendChild(submit);
    },

    init = function() {
        var options = steps.options || null;

        createButtons();
        createTitle(steps.title || '');

        if (options) {
            formTrgtOptionEl.innerHTML = '';
            currentPath = 'steps.options';
            for (var option in options) {
                createOption(options[option]['name'] || '', option, currentPath);
            }
        }
    };

    init();
})();
</script>
