<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="css/lgm-contact-us.css" rel="stylesheet" type="text/css"/>


<div class="row">
  <div class="col-xs-12 text-center">
    <h1>Pickup Lift Gate Quote</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div id="pickup-lift-form">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="form-group">
            <label for="contactName">Name</label>
            <input type="name" class="form-control form-input" id="contactName" aria-describedby="emailHelp" placeholder="Enter name">
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="form-group">
            <label for="emailAddress">Email address</label>
            <input type="email" class="form-control form-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
        </div>
      </div>
      <fieldset class="form-group">
        <legend>Pickup LiftGate Capacity</legend>
        <div class="row">
          <div class="col-sm-5 col-sm-offset-1">
            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optionsCapacity" id="1000lbCap" value="1000lbs" checked="">
                    1,000 lbs
              </label>
            </div>
          </div>
          <div class="col-sm-5 col-sm-offset-1">
            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optionsCapacity" id="1300lbCap" value="1300lbs" checked="">
                    1,300 lbs
              </label>
            </div>
          </div>
        </div>
      </fieldset>
      <fieldset class="form-group">
        <legend>Platform Type</legend>
        <div class="row">
          <div class="col-sm-5 col-sm-offset-1">
            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="platformType" id="platformSteel" value="steel" checked="">
                    Steel (basic)
              </label>
            </div>
          </div>
          <div class="col-sm-5 col-sm-offset-1">
            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="platformType" id="platformAluminum" value="aluminum" checked="">
                    Aluminum (light and corrosion resistant)
              </label>
            </div>
          </div>
        </div>
      </fieldset>

      <div class="form-group row">
        <div class="col-sm-4 col-sm-12">
          <label for="make">Vehicle Make</label>
          <input class="form-control form-input" id="make" rows="1"></input>
        </div>
        <div class="col-sm-4 col-sm-12">
          <label for="model">Vehicle Model</label>
          <input class="form-control form-input" id="model" rows="1"></input>
        </div>
        <div class="col-sm-4 col-sm-12">
          <label for="make">Vehicle Year</label>
          <input class="form-control form-input" id="make" rows="1"></input>
        </div>
      </div>

      <div class="form-group">
        <label for="leaveUsANote">Leave us a note</label>
        <input class="form-control form-input" id="leaveUsANote" rows="3"></input>
      </div>
      <button id="pickup-liftgate-form" class="btn btn-primary">Submit</button>
    </div>
  </div>
</div>

<script>
  (function() {
    function getFormInfo() {
      var txtInput = $('#pickup-lift-form .form-input'),
          radioBtns = $('#pickup-lift-form .form-check-input'),
          i = 0,
          formInputs = {};

      for(i = 0; i < txtInput.length; i++) {
        formInputs[txtInput[i].id] = txtInput[i].value;
      }

      for(i = 0; i < radioBtns.length; i++) {
        if (radioBtns[i].checked) {
          formInputs[radioBtns[i].id] = 'TRUE';        
        }
      } 
      return formInputs;   
    }

    function sendFormInfo() {
      var formInfo = getFormInfo(),
          formData = {
              "toEmail": "liftgates@gmail.com",
              "fromEmail":"liftgates@gmail.com",
              "contactEmail": 'Pickup Lift Inquiry',
              "senderMsg": JSON.stringify(formInfo)
          };

          $.ajax({
              url : "/send-msg",
              type: "POST",
              data : formData,
              success: function(data, textStatus, jqXHR) {
                console.log('success : ', data);
              },
              error: function (jqXHR, textStatus, errorThrown) {
                   console.log('error : ', error || 'ERROR!');
              }
          });      
    }

    document.getElementById('pickup-liftgate-form').addEventListener('click', sendFormInfo, false);    
  })();
</script>
