#lgm-custom-contact-form, #pickup-lift-form {
    padding: 20px;
    background: #FFF;
    border: 2px solid #444;
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    -webkit-transition: all .5s ease;
    transition: all .2s ease;
    font-family: 'Roboto', sans-serif;
}
#lgm-custom-contact-form.expanded {
}
#lgm-custom-option-title {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #444;
}
#lgm-custom-choices {
    padding: 10px;
    text-align: center;
}
#lgm-custom-contact-form-inputs {
    display: none;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
#lgm-custom-contact-form-inputs.active {
    display: block;
    height: 300px;
    width: 100%;
}

.form-field-holder {
    width: 100%;
    margin-bottom: 15px;
}
.form-field-name {
    display: inline-block;
    width: 300px
}
.form-field-input {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px 0;
}
.lgm-input-field {
    border: none;
    border-bottom: 2px dotted #444;
    width: 100%;
}
.lgm-input-field:focus {
    outline: none;
}

#lgm-nav-btns {
    text-align: right;
}
.btn {
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    width: 100px;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    margin-right: 15px;
    -webkit-box-shadow: 0px 2px 4px #666;
    -moz-box-shadow: 0px 2px 4px #666;
    box-shadow: 0px 2px 4px #666;
    -webkit-transition: all .3s ease;
    transition: all .1s ease;
}
.btn:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 2px 4px #FFF;
    -moz-box-shadow: 0px 2px 4px #FFF;
    box-shadow: 0px 2px 4px #FFF;
}
.primary-btn {
    background: #22b8f3;
    color: #FFF;
    opacity: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.primary-btn.active {
    opacity: 1;
}
.secondary-btn {
    color: #22b8f3;
    background: #FFF;
    border: 2px solid #22b8f3;
}
.option-btn {
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    color: #22b8f3;
    background: #FFF;
    padding: 20px;
    border: solid #22b8f3 2px;
    text-decoration: none;
    width: 200px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    display: inline-block;
    -webkit-box-shadow: 0px 2px 4px #666;
    -moz-box-shadow: 0px 2px 4px #666;
    box-shadow: 0px 2px 4px #666;
    -webkit-transition: all .3s ease;
    transition: all .1s ease;
}

.option-btn:hover {
    background: #22b8f3;
    color: #FFF;
    cursor: pointer;
    text-decoration: none;
    -webkit-box-shadow: 0px 2px 4px #FFF;
    -moz-box-shadow: 0px 2px 4px #FFF;
    box-shadow: 0px 2px 4px #FFF;
}
.title {
    text-align: center;
}
